@font-face
{
    font-family: gg;
    src: url('./font.ttf');
}

*
{
    color: #edededee;
    font-family: gg;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #222222;
}

.grid
{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 75px 75px 75px;
    width: 14.3rem;
    margin-left:auto;
    margin-right:auto;
    background-color: #222222;
}

.cell
{
    width: 75px;
    height: 75px;
    border: 0.1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #edededee;
    color: black;
}

.corner-top-left
{
    border-radius: 5px 0 0 0;
}

.corner-top-right
{
    border-radius: 0 5px 0 0;
}

.corner-bottom-left
{
    border-radius: 0 0 0 5px;
}

.corner-bottom-right
{
    border-radius: 0 0 5px 0;
}

.clearGrid
{
    text-align: center;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(255, 50, 60);
    color: white;
    border-radius: 2px;
    height: 1.8rem;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.clearGrid:hover
{
    background-color: rgba(220, 60, 50, 0.9);
}

.clearGrid:active
{
    background-color: rgba(220, 60, 50);
}

.noHover{
    pointer-events: none;
}

.win-state
{
    text-align: center;
}

.turn
{
    color: white;
    text-align: center;
}

.heading
{
    text-align: center;
    font-family: gg;
}
